@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    color: #000;
}

.nav-logo {
    display: flex;
    align-items: center;
} 

.nav-logo h2 {
    margin: 0;
    padding: 0;
    color: #3EABDB;
    font-weight: 800;
    letter-spacing: 1px;
}

.nav-logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu a {
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin: 0 5px;
}

.nav-menu a:hover {
    color: #3EABDB;
}

#banner {
    display: flex;
    justify-content: space-between;
    padding: 100px 50px;
}

.bn-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.bn-data .subtitle {
    color: #3EABDB;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.bn-data .title {
    color: #000;
    font-size: 80px;
    margin: 0;
    padding: 15px 0;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.1;
    margin-bottom: 18px;
}

.bn-img {
    display: flex;
    justify-content: end;
}

.bn-img img {
    width: 100%;
    height: 100%;
}